*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card{
    width: 400px;
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 10px;
}

h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: antiquewhite;
    margin: 8px 0;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


button{
    padding: 10px;
    border: 1px solid black;
    width: 47%;
    background-color: rgb(14, 51, 162);
    border-radius: 7px;
    color: wheat;
}

button a{
    text-decoration: none;
    color: rgb(218, 212, 212);
    text-transform: capitalize;
    font-size: 15px;
}

button:hover{
    cursor: pointer;
    background-color: blue;
}